:root {
  --color-brand-accent: #4d5ae5;
  --color-foreground: #434455;
  --color-background: #fff;
  --color-button-foreground: #4d5ae5;
  --color-button-background: #f4f4fd;
  --color-button-hover-focus-foreground: #ffffff;
  --color-button-hover-focus-background: #404bbf;
  --color-heading: #2e2f42;
  --color-footer-background: #2e2f42;
  --color-footer-text: #f4f4fd;
  --color-team-section-background: #f4f4fd;
  --color-contact-link-hover-focus-foreground: #4d5ae5;
  --color-border: #e7e9fc;

  --font-logo: "Raleway", sans-serif;
  --font-text: "Roboto", sans-serif;

  --font-size-text: 16px;
  --font-size-logo: 18px;
  --font-size-main-heading: 56px;
  --font-size-section-heading: 36px;
  --font-size-item-heading: 20px;

  --font-weight-logo: 800;
  --font-weight-main-heading: 700;
  --font-weight-section-heading: 700;
  --font-weight-item-heading: 500;

  --line-height-text: 1.5;
  --line-height-logo: 1.16667;
  --line-height-main-heading: 1.07143;
  --line-height-section-heading: 1.11111;
  --line-height-item-heading: 1.2;

  --letter-spacing-text: 0.32px;
  --letter-spacing-logo: 0.54px;
  --letter-spacing-main-heading: 1.12px;
  --letter-spacing-section-heading: 0.72px;
  --letter-spacing-item-heading: 0.4px;
  --letter-spacing-button: 0.64px;

  --text-transform-logo: uppercase;
  --text-transform-heading: capitalize;
  --text-transform-button: capitalize;
  --text-transform-item-role: capitalize;
}

body {
  font-family: var(--font-text);
  color: var(--color-foreground);
  background-color: var(--color-background);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.list {
  list-style: none;
}

.btn {
  color: var(--color-button-foreground);
  background-color: var(--color-button-background);
  cursor: pointer;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-item-heading);
  line-height: var(--line-height-text);
  letter-spacing: var(--letter-spacing-button);
}

.btn:hover,
.btn:focus {
  color: var(--color-button-hover-focus-foreground);
  background-color: var(--color-button-hover-focus-background);
}

.brand-accent-text {
  color: var(--color-brand-accent);
}

.link {
  text-decoration: none;
  font-style: normal;
  letter-spacing: var(--letter-spacing-text);
  line-height: var(--line-height-text);
}

.navigation-link {
  color: var(--color-heading);
  font-weight: var(--font-weight-item-heading);
}

.contact-link {
  color: var(--color-foreground);
}

.footer-link {
  color: var(--color-footer-text);
}

.link:hover,
.link:focus {
  color: var(--color-brand-accent);
}

.logo {
  font-family: var(--font-logo);
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-logo);
  line-height: var(--line-height-logo);
  letter-spacing: var(--letter-spacing-logo);
  text-transform: var(--text-transform-logo);
}

.footer {
  color: var(--color-footer-text);
  background-color: var(--color-footer-background);
}

.heading {
  text-transform: var(--text-transform-heading);
}

.item-heading {
  font-size: var(--font-size-item-heading);
  font-weight: var(--font-weight-item-heading);
  line-height: var(--line-height-item-heading);
  letter-spacing: var(--letter-spacing-item-heading);
}

.item-role {
  text-transform: var(--text-transform-item-role);
}
